### Exercise 1

In [1]:
my_name="Lucas"

In [3]:
print(my_name)

Lucas

### Exercise 2

In [4]:
age=27

In [5]:
print(age)

27

### Exercise 3

In [16]:
julia_age=32

In [7]:
print(julia_age-age)

5

### Exercise 4

In [30]:
younger="you are younger than 21"
older="you are older than 21"

In [33]:
age=27
if age < 21:
    print(younger)
else: print(older)

you are older than 21

### Exercise 5

In [166]:
younger= "You are younger than Julia"
older="You are older than Julia"
same="You have the same age as Julia"
age=32

In [169]:
younger= "You are younger than Julia"
older="You are older than Julia"
same="You have the same age as Julia"
age = 33
julia_age = 32

if age < julia_age:
    print(younger)
elif age > julia_age:
    print(older)
else: print(same)

You are older than Julia

### Exercise 6

In [38]:
MyList =["Pierre","Patricia","Oti","Andros","Gabi","Lucas","Kilian","Muayad"]



print(sorted(MyList)[0])
print(sorted(MyList)[-1])
print(sorted(MyList))

Andros
Pierre
['Andros', 'Gabi', 'Kilian', 'Lucas', 'Muayad', 'Oti', 'Patricia', 'Pierre']

### Exercise 7 (for- Loop)

In [49]:
MyListAges = [34,45,29,30,38,27,35,31]

for num in MyListAges:
    if num % 2 == 0 :
        print(num)

34
30
38

### Exercise 7 (While-Loop)

In [76]:
MyListAges = [34,45,29,30,38,27,35,31]
counter= 0 

while (counter<len(MyListAges)):
    if MyListAges[counter] % 2 == 0:
        print (MyListAges[counter], end=" ")

    counter +=1

34 30 38

### Exercise 8

In [77]:
MyListAges = [34,45,29,30,38,27,35,31]

min(MyListAges)

27

### Exercise 9

In [78]:
MyListAges = [34,45,29,30,38,27,35,31]

max(MyListAges)

45

### Exercise 10

In [85]:
Year = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]


for Age in Year:
    print(2024-Age)

25
29
19
14
17
18
30
28
45
16

### Exercise 11

In [108]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

for k, v in [(k, v) for x in customer_list for (k, v) in x.items()]:
  print(k,v)

name Bob
age 1999
name Jack
age 1995
name Lisa
age 2005
name Maria
age 2010
name Ben
age 2007
name Emma
age 2006
name Oscar
age 1994
name Amy
age 1996
name Paul
age 1979
name Etta
age 2008

In [116]:
m= [{"name": "Bob", "age": 1999}, {"name": "Lucas", "age": 1996}]

name, age = List.items()
print (name), print(age)

('name', 'Bob')
('age', 1999)

(None, None)

In [118]:
m[1]["age"]

1996

In [68]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

# Here:

In [86]:
for x in customer_list: 
    print(x["name"], "is",2024-x["age"],"years old")

Bob is 25 years old
Jack is 29 years old
Lisa is 19 years old
Maria is 14 years old
Ben is 17 years old
Emma is 18 years old
Oscar is 30 years old
Amy is 28 years old
Paul is 45 years old
Etta is 16 years old

### Exercise 11 (Function)

In [94]:
def name_is_age_old(list_1):
    for x in list_1:
        print(x["name"], "is",2024-x["age"],"years old")

In [95]:
name_is_age_old ([
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ])

Bob is 25 years old
Jack is 29 years old
Lisa is 19 years old
Maria is 14 years old
Ben is 17 years old
Emma is 18 years old
Oscar is 30 years old
Amy is 28 years old
Paul is 45 years old
Etta is 16 years old

### Exercise 12

In [61]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()

x= ages.pop(0), ages.pop(-1)

print(ages), print (x)

[11, 12, 13, 14, 20, 23, 24, 25]
(9, 40)

(None, None)

### Exercise 12 (Function)

In [335]:

def clean_list(list1):
    for i in range(len(list1)):
        for j in range(i + 1, len(list1)):

            if list1[i] > list1[j]:
                list1[i], list1[j] = list1[j], list1[i]
    list1.sort()
    x= list1.pop(0), list1.pop(-1)
    print("clean List:", list1), print ("min/max", x)

In [336]:
clean_list([20, 24, 14, 9, 12, 13, 25, 23, 40, 11])

clean List: [11, 12, 13, 14, 20, 23, 24, 25]
min/max (9, 40)

### Exercise 13

In [151]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

ber= set(berlin)
mun= set (munich)

if (ber & mun):
    print("Common Elements:",ber & mun)
else:
    print("No common Elements")

Common Elements: {10, 13, 15, 16, 18, 19}

### Exercise 13 (Function)

In [58]:
def common_list(list_1,list_2,list_3):
    for item in list_1:
        if item in list_2:
            list_3.append(item)
    print("Common Elements:",sorted(list_3))

In [59]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common = []

min_max_list(berlin,munich,common)

Common Elements: [10, 13, 15, 16, 18, 19]

### Exercise 14

In [152]:
DupList= [15,13,16,18,19,15,10]

Dup= set(DupList)

print(Dup)

{10, 13, 15, 16, 18, 19}

In [162]:
ages = [15,13,16,18,19,15,10]

for i in range(len(ages)):
    for j in range(i + 1, len(ages)):

        if ages[i] > ages[j]:
           ages[i], ages[j] = ages[j], ages[i]

print ("Youngest",ages[0])
print ("Oldest:", ages[-1])

Youngest 10
Oldest: 19

### 14 with Function

In [22]:
def dup_remover(list_dup,clean_List):
    for item in list_dup:
        if item not in clean_List:
            clean_List.append(item)
    print(clean_List)

In [23]:
dup_remover([1,2,3,4,4,4,5,5,5,5,6,6,6,7,7],[])

[1, 2, 3, 4, 5, 6, 7]

### Exercise 15

In [206]:
def welcome(name):
    print("Welcome"+ name+ ", have a nice day!")

In [207]:
welcome(" Lucas")

Welcome Lucas, have a nice day!

### Exercise 16

In [237]:
def get_length(word):
    count= 0 
    for get_length in word:
        count+=1
    print(count)

In [241]:
get_length("Hello")
get_length("Hi")

5
2

### Exercise 17

In [2]:
def check_even (num):
    if num % 2 == 0:
        print ("Even Number:" , num)
    else:
        print ("Uneven Number:", num)

In [3]:
check_even(7)

Uneven Number: 7

### Exercise 19

In [139]:
def age_finder (age):
    input_List_Age = [15,13,16,18,19,10]

    if age in input_List_Age:
        print("True")
    else:
        print("False")

In [143]:
age_finder(15)

True

In [245]:

def age_finder (age,input_List_Age):
    
        if age in input_List_Age:
            print("True, this age","(",age,")", "is contained in the list")
        else:
            print("False, this age","(", age, ")", "is not contained in the list")

In [354]:
age_finder(int(input("What is your Age?")),[15,13,16,18,19,10])

False, this age ( 25 ) is not contained in the list

# Extra Exercises

### Q1

In [274]:
def age_customer(list_1):
    for age in list_1:
        print(2024-age)

In [276]:
age_customer([1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008])

25
29
19
14
17
18
30
28
45
16

### Q2

In [344]:
def clean_list_min_max(list1):
    for i in range(len(list1)):
        for j in range(i + 1, len(list1)):

            if list1[i] > list1[j]:
                list1[i], list1[j] = list1[j], list1[i]
    list1.sort()
    x= list1.pop(0), list1.pop(-1)
    print("clean List:", list1), print ("min/max:", x)

In [345]:
clean_list_min_max([20, 24, 14, 9, 12, 13, 25, 23, 40, 11])

clean List: [11, 12, 13, 14, 20, 23, 24, 25]
min/max: (9, 40)

### Q3

In [346]:
def common_List(list_1,list_2,list_3):
    for item in list_1:
        if item in list_2:
            list_3.append(item)
    print("Common Numbers:",list_3)

In [347]:
common_List([15, 13, 16, 18, 19, 10, 12 ],[7, 13, 15, 20, 19, 18, 10, 16],[])

Common Numbers: [15, 13, 16, 18, 19, 10]

### Q4

In [352]:
def unique_List(list_1,list_2):
    for item in list_1:
        if item not in list_2:
            list_2.append(item)
    print("Unique Values:",list_2)

In [353]:
unique_List([15,13,16,18,19,15,10],[])

Unique Values: [15, 13, 16, 18, 19, 10]

### Set 1

In [4]:
def outlier(array_1,array_2,array_3):
    
    for item in array_1:
        if item %2 == 0:
            array_2.append(item)
        if item %2 != 0:
                array_3.append(item)

    if len(array_2) > len(array_3):
        return(array_3)
    else:
        return(array_2)

In [8]:
outlier([2, 4, 0, 100, 4, 11, 2602, 36],[],[])

[11]

### Exercise 2

In [10]:
import numpy as np